<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.songdz.fielddatacheck.app" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.songdz.fielddatacheck.app.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.songdz.fielddatacheck.app.ShowResultList"
            android:label="@string/label_activity_show_result_list" >
        </activity>
        <activity
            android:name="com.songdz.fielddatacheck.app.LoginDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog" >

            <!-- android:theme="@style/Mytheme -->
        </activity>
        <activity
            android:name="com.songdz.fielddatacheck.app.ShowLastDataActivity"
            android:label="@string/title_activity_show_last_data" >
        </activity>
        <activity
            android:name="com.songdz.fielddatacheck.app.ShowSensorMetaDataActivity"
            android:label="@string/title_activity_show_sensor_meta_data" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
